<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCalendarsUsageDescription</key>
    <string>需要访问日历以管理事件和提醒</string>
    <key>NSRemindersUsageDescription</key>
    <string>需要访问提醒以管理提醒事项</string>
</dict>
</plist> 